.container{

    background-color: coral ; 
    border: 30px solid green;
    border-radius: 10%;
    height: 400px;
   width: 45%;
   text-align: center;
   justify-content: center;
   /* margin: 0 auto; */
  
}
img{
    height: 350px;
    width: 40%;
    display: inline;
    display: flex;
    margin-top: 10px;
    display: none;
    display: block;
    
}

.h1{
    color: navy;
    font-size: 40px; 
    

}